[[source]]
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = false
name = "aliyun"

[packages]
Scrapy = "*"
SQLAlchemy = "*"
requests = "*"
retrying = "*"
"Jinja2" = "*"
werobot = "*"
dash = "*"
dash-renderer = "*"
dash-core-components = "*"
plotly = "*"
dash-html-components = "*"
gunicorn = "*"
gevent = "*"
flask-sqlalchemy = "*"

[dev-packages]
pytest = "*"
pytest-flask = "*"

[requires]
python_version = "3.6"
